  :host {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 0 5px 15px;
    background-color: white;
  }

  :host:first-of-type::after {
    content: 'Sale';
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: lightyellow;
    color: maroon;
  }

  :host-context(.dark-theme) {
    background-color: black;
    color: #f5f5f5;
  }

  .card {
    border: 1px solid #ccc;
  }

  .card-thumbnail {
    max-width: 100%;
  }

  .card-content {
    margin-bottom: 15px;
  }

  .card-title {
    font-weight: 100;
  }

  .card-info {
    color: #666;
    font-family: Georgia, serif;
    font-size: .85rem;
  }

  .card-detail {
    font-style: italic;
  }

  .card-link {
    color: cornflowerblue;
    text-decoration: underline;
  }

  .card-link:hover {
    color: darkslateblue;
  }

  .card-ctaContainer {
    padding: 5px;
  }

