.card {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 0 5px 15px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .card-thumbnail {
    max-width: 100%;
  }
  
  .card-content {
    margin-bottom: 15px;
  }
  
  .card-title {
    font-weight: 100;
  }
  
  .card-info {
    color: #666;
    font-family: Georgia, serif;
    font-size: .85rem;
  }
  
  .card-detail {
    font-style: italic;
  }
  
  .card-link {
    color: cornflowerblue;
    text-decoration: underline;
  }
  
  .card-link:hover {
    color: darkslateblue;
  }
  
  .card-ctaContainer {
    padding: 5px;
  }
  
  .cta {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .cta--link {
    color: white;
    background-color: cornflowerblue;
  }
  
  .cta--link:hover {
    background-color: darkgray;
  }
  