.cta {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
}

.cta--link {
  color: white;
  background-color: cornflowerblue;
}

.cta--link:hover {
  background-color: darkgray;
}
